ObligatorioP3/Obligatorio/Connected Services/ServicioWCF/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54009/Servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54009/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54009/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_GetTodosLosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetTodosLosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_InsertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_InsertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="IServicio_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_FindByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByName" />
  </wsdl:message>
  <wsdl:message name="IServicio_FindByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="GetTodosLosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetTodosLosUsuarios" message="tns:IServicio_GetTodosLosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetTodosLosUsuariosResponse" message="tns:IServicio_GetTodosLosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/InsertarUsuario" message="tns:IServicio_InsertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/InsertarUsuarioResponse" message="tns:IServicio_InsertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/FindById" message="tns:IServicio_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/FindByIdResponse" message="tns:IServicio_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/FindByName" message="tns:IServicio_FindByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/FindByNameResponse" message="tns:IServicio_FindByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EliminarUsuario" message="tns:IServicio_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EliminarUsuarioResponse" message="tns:IServicio_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ModificarUsuario" message="tns:IServicio_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ModificarUsuarioResponse" message="tns:IServicio_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodosLosUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetTodosLosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/IServicio/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <soap:operation soapAction="http://tempuri.org/IServicio/FindByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:54009/Servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>