ObligatorioP3/Obligatorio/Connected Services/ServicioWCF/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoUsuario" nillable="true" type="tns:DtoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoUsuario" nillable="true" type="tns:ArrayOfDtoUsuario" />
  <xs:complexType name="DtoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoUsuario" nillable="true" type="tns:DtoUsuario" />
</xs:schema>